/* general styling */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: verdana, arial, helvetica, sans-serif;
    color: #fdfcf7;
}

body {
    background-color: #22272C;
}

/* Header */
.app-header {
    height: 10vh;
    padding: 3% 6%;
    background-color: #2E343C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 15px 15px;
}

.app-header h1 {
    font-size: 8vw;
    font-family: georgia, verdana, arial, sans-serif;
    padding: 5px 15px;
    border: #fdfcf7 solid 2px;
    border-radius: 15px;
}

.app-header img {
    height: 100%;
}

/* Footer */
footer {
    position: fixed;
    bottom: 0;
}

ul img {
    width: 50vw;
}